@import './styles/fonts/stylesheet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/components/Avatar.css';

html {
  background-color: #171717 !important;
}

body {
  background-color: #171717 !important;
}

.shine {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 20%, #000 50%, rgba(0,0,0,.6) 90%);
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

.scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #C1C1C1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.Box{
	position:relative;
	width:123px;
  border-radius: 8px;
	height:123px;
	background-color:#1c1c1c;
	border:5px solid rgb(38 38 38 / var(--tw-border-opacity));
	box-shadow:0px 0px 10px rgba(0,0,0,.2);
	transform-style:preserve-3d;
	transform-origin:center;
	transform:rotate(45deg);
	display:flex;
	flex-wrap:wrap;
	box-sizing:content-box;
}
.Box span{
	width:40px;
  border-radius: 4px;
	height:40px;
	background: rgb(64 64 64 / 0.5);
	box-sizing:content-box;
	margin:.5px;
	transform-style:preserve-3d;
	transform-origin:center;
	animation:Loader 2s linear infinite;
}
.Box span:nth-child(3){
	animation-delay:.8s;
}
.Box span:nth-child(2),
.Box span:nth-child(6){
	animation-delay:.6s;
}
.Box span:nth-child(1),
.Box span:nth-child(5),
.Box span:last-child{
	animation-delay:.4s;
}
.Box span:nth-child(4),
.Box span:nth-child(8){
	animation-delay:.2s;
}
.Box span:nth-child(7){
	animation-delay:0s;
}
@keyframes Loader{
	0%,100%{
		transform:scale(1);
	}
	30%{
		transform:scale(0);
	}
	50%{
		transform:scale(0);
	}
	75%{
		transform:scale(1);
	}
}